html {
	background: #F6F6F6;
}

body {
	
}

/* Top Naviation */

.top-navigation {

	/*Example CSS*/
	background-color: #fff;
  border-bottom: 1px solid #ccc;

}

.top-navigation  li {

	/*Example CSS*/
  font-size: 12px;
  padding: 10px;

}

/* Header */

.header {

	/*Example CSS*/
	padding: 20px 0 5px;

}

.logo {
	
}

.search {
	
}

.search-bar {

	/*Example CSS*/
	border: 1px solid #ddd;
  background: #fff;
  font-size: 16px;

}

.search-dropdown {

	/*Example CSS*/
	border: 1px solid #ddd;
  background: #fff;
  font-size: 16px;

}

.search-button {

	/*Example CSS*/
  border-radius: 3px;
  color: #fff;
	background: #00509d;
  background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
  font-weight: 500;
  padding: 10px 15px 11px;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);

}

.search-link {

	/*Example CSS*/
	color: #767676;
  font-size: 12px;

}

/* Main Navigation */

.main-navigation {

	/*Example CSS*/
	border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #ddd;

}

.main-navigation a {

	/*Example CSS*/
	color: #555;
  font-size: 12px;
  border-bottom: solid 1px transparent;

}

/* Main Top */

.main-hero {

}

.main-hero-large-image {

}

.main-hero-right-top-image {
	
}

.main-hero-right-bottom-image {
	
}

/* Section Headers */

.main-content-header {

}

.main-content-header h2 {

}

.main-content-header a {

}

/* Featured Collections */

.featured-section {

}

.featured-container {

}

.featured-item {

}

.description {

}

.description-info {

	/*Example CSS*/
	margin: 0;
	padding: 0;
	list-style: none;

}

.description-info li {

	/*Example CSS*/
	text-align: center;
	padding: 18px 0;
	border-bottom: 1px solid #ddd;

}

.description-info li a {
	
}

/* Daily Deals */

.deals-section {

}

.deals-container {
	
	/*Example CSS*/
	background: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 20px;

}

.deals-item {

}

/* Trending Collections*/

.trending-section {

}

.trending-container {

}

.trending-header {

	/*Example CSS*/
	padding: 10px;

}

.trending-header-profile {

	/*Example CSS*/
	margin-right: 10px;

}

.trending-header-info {

	/*Example CSS*/
	margin-top: 5px;

}

.trending-header h3 {

	/*Example CSS*/
	margin: 0;

}

.trending-header p {
	
	/*Example CSS*/
	margin: 0;

}

.trending-item {

	/*Example CSS*/
	background: #fff;
	border-radius: 2px;
	border: 1px solid #ccc;

}

.trending-footer {

	/*Example CSS*/
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);	
	text-align: center;
	margin: 40px 0 80px;

}

.trending-footer a {

	/*Example CSS*/
	color: #0654BA;
	
}