article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.align-left {
  float: left; }

.align-right {
  float: right; }

.clearfix:before, .section:before, .main-content-header:before,
.clearfix:after,
.section:after,
.main-content-header:after {
  content: "";
  display: table; }

.clearfix:after, .section:after, .main-content-header:after {
  clear: both; }

.clearfix, .section, .main-content-header {
  zoom: 1;
  /* ie 6/7 */ }

.box, .box-half, .box-one-third, .box-two-thirds, .box-fourth {
  float: left; }

.box-half, .box-one-third, .box-two-thirds, .box-fourth {
  box-sizing: border-box; }

.box-half {
  width: 50%; }

.box-one-third {
  width: 31%; }

.box-one-third + .box-one-third {
  margin-left: 3.5%; }

.box-two-thirds {
  width: 68%; }

.box-two-thirds + .box-one-third {
  margin-left: 1%; }

.box-fourth {
  width: 25%; }

.wrapper {
  width: 980px;
  margin: 0 auto; }

.top-navigation {
  width: 100%;
  overflow: hidden; }
  .top-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .top-navigation li {
    display: inline-block; }

.search input[type="text"], .search select {
  box-shadow: none;
  margin: 0;
  padding: 0 10px;
  outline: 0; }
.search input[type="text"] {
  height: 38px;
  vertical-align: top;
  border-radius: 4px; }
.search select {
  height: 40px; }
.search input[type="submit"] {
  text-decoration: none;
  display: inline-block;
  zoom: 1;
  vertical-align: baseline;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 0; }
.search a {
  text-decoration: none;
  line-height: 20px;
  padding: 0 10px;
  margin: 8px 0;
  white-space: nowrap; }

.main-navigation {
  margin: 10px 0 30px 0; }
  .main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-navigation li {
    display: inline-block;
    padding: 0 15px; }
  .main-navigation a {
    padding-top: 12px;
    padding-bottom: 10px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap; }

.main-hero .box-two-thirds {
  padding-right: 10px; }
.main-hero .box-one-third div + div, .main-hero .box-one-third img + img {
  margin-top: 21px; }
.main-hero .main-hero-large-image {
  width: 656px;
  height: 402px;
  overflow: hidden; }
.main-hero .main-hero-right-top-image {
  width: 350px;
  height: 250px;
  overflow: hidden; }
.main-hero .main-hero-right-bottom-image {
  width: 350px;
  height: 131px;
  overflow: hidden; }

.main-content-header {
  margin: 60px 0 20px; }
  .main-content-header h2, .main-content-header a {
    margin: 0; }

.description-info li {
  margin: 0 20px; }

.trending-container .section + .section {
  margin-top: 20px; }

/*# sourceMappingURL=layout.css.map */
