body {
  background: #cc9de0;
}


div {
  width: auto;
  margin: 0 auto;
}

button {
  background: transparent;
  border: transparent;
}

pre {
	margin: 30px;
	padding: 30px; 
	border: transparent; 
	width: 33em;  
	font-size: 1.7em;
		-moz-transform: translate(100px) rotate(349deg); 
		-webkit-transform: translate(100px) rotate(349deg); 
		-o-transform: translate(100px) rotate(349deg); 
		transform: translate(100px) rotate(349deg);
}

.title {
  font-family: sans-serif;
  text-align: center;
  margin: 30px;
  font-size: 3em;
}

.heart1, .heart1 {
	width:300px;
	height:200px;
	background-size: 300px 200px;
  margin: 0 auto;
}

.bigHeart {
	width:500px;
	height:500px;
	background:url(img/Heart.svg);
	background-size:500px 500px;
}

